@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");

:root {
  --orange: #ff7b00;
  --lightgray: #f5f5f7;
}

body {
  margin: 0;
  font-family: "Heebo", serif;
}

#sectionA {
  overflow: hidden;

  .background-home {
    height: 40vw;
  }

  #back-overlay {
    position: absolute;
    width: 100%;

    padding-top: 40px;
    padding-left: 20px;

    a {
      padding: 0.5rem;
      border-radius: 10px;
      border: solid 3px white;
      background-color: rgba(0, 0, 0, 0.39);
      font-size: 1.6rem;
      text-decoration: none;
    }
  }

 

  h1 {
    font-size: 4rem;
  }

  h2 {
    padding-left: 0.7rem;
    font-size: 1.3rem;
    color: white;
    font-weight: 300;
  }

  #contact {
    display: flex;
    justify-content: flex-end;
    align-items: self-start;

    button {
      color: black;
      background-color: white;
    }
  }

  #logo {
    width: 100px;
    position: absolute;
    top: 7px;
    left: 200px;
  }

  @media screen and (max-width: 600px) {
    #back-overlay {
      padding-left: 0;
    }

    .background-home {
      width: auto;
      height: 95vw;
    }

    h1,
    h2 {
      text-align: center;
    }

    #contact {
      display: block !important;
      text-align: center;
    }

    #logo {
      left: 205px;
    }
  }
}

#sectionB {
  background-color: var(--lightgray);
  border-top: solid 0.8rem white;

  h2 {
    font-size: 2rem;
    text-align: center;
  }

  h3 {
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: 300;
    text-align: center;
  }
}

#sectionC {
  background: white;
  padding: 0.8rem;

  ul li {
    font-family: "Roboto";
    font-weight: 300;
  }
}

.service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;

  h4 {
    font-size: 2rem;
    font-weight: 500;
    font-family: "Heebo", serif;
  }

  h5 {
    font-size: 1.2rem;
    font-weight: 300;
  }

  p {
    line-height: 1;
  }

  li {
    justify-content: center;
  }
}

#footbar {
  color: white;
  background-color: black;
  text-align: center;
}

#tri-wrap {
  display: none;
  rotate: 90deg;
  /* height: 25%;
  width: 25%; */
  position: absolute;
  /* min-height: 25%; */
  z-index: 5;
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
  bottom: -1px;
  right: -1px;
}

#tri {
  width: 200px;
  aspect-ratio: 1;
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  background-color: white;
}

   .button-link {
     display: inline-block;
     padding: 10px 20px;
     background-color: dodgerblue;
     color: white;
     text-decoration: none;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     min-width: 80px;
     text-align: center;
     font-family: "Heebo", serif;
   }

   .button-link:hover {
     background-color: rgb(21, 96, 172);
   }

   .windows-wrap {
    background-image: url('/windowwash2.jpg');
    height: 100vh;
   }

   .windows {
    background-color: #f5f5f7a1;
    
   }